.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 40%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.profile__avatar-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/editAvatar.svg);
  background-position: center;
  background-repeat: no-repeat;
}
