.element__like {
    width: 22px;
    height: 19px;
    background: transparent center url(../../../images/like.svg);
    background-size: auto;
    border: none;
    transition: 0.5s;
}

.element__like:hover {
    opacity: 0.6;
    cursor: pointer;
}

.element__like:active {
    background: transparent center url(../../../images/blackLike.svg);
    opacity: 1;
    cursor: pointer;
}