.popup__container_size {
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    width: auto;
    background: url(https://pictures.s3.yandex.net/frontend-developer/cards-compressed/kholmogorsky-rayon.jpg) no-repeat center;
    
}