.header {
    display: flex;
    justify-content: start;
    align-items: start;
    box-sizing: border-box;
    max-width: 880px;
    min-height: 74px;
    margin: 0 auto 36px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 619px) {
    .header {
        margin: 0 auto 42px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        min-height: 56px;
        overflow: hidden;
    }
}