.elements {
    margin: 0 0 67px;
}

@media screen and (max-width: 918px) {
    .elements {
        padding: 0 19px;
    }
}

@media screen and (max-width: 320px) {
    .elements {
        margin: 0 0 48px;
    }
}