.profile-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 30px;
    max-width: 400px;
}

@media screen and (max-width: 700px) {
    .profile-info {
        position: relative;
        margin: 0 0 36px;
        max-width: 282px;
        width: 100%;
    }
}
