.profile-info__title {
    color: white;
    margin: 0 0 12px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    word-wrap: break-word;
    max-width: 320px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile-info__title {
        margin: 0 0 14px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        padding: 0 43px;
        max-width: 200px;
    }
}