.profile-info__edit-button {
    align-self: center;
    margin-left: 18px;
    padding: 0;
    min-width: 24px;
    min-height: 24px;
    background: transparent no-repeat center url(../../../images/editButton.svg);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    transition: 0.5s;
}

.profile-info__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .profile-info__edit-button {
        position: absolute;
        top: 8px;
        right: 19px;
        min-width: 18px;
        min-height: 18px;
    }
}