.elements__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    justify-content: center;
    row-gap: 20px;
    column-gap: 17px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}