.profile-info__sub-title {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    word-wrap: break-word;
    max-width: 320px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 700px) {
    .profile-info__sub-title {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 282px;
        width: 100%;
    }
}