.popup__title {
    margin: 0 0 50px;
    font-family: Inter, Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 619px) {
    .popup__title {
        margin: 0 0 75px;
        font-size: 18px;
        line-height: 22px;
    }
}